.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-light {
  background-color: #ffffff;
  color: black;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;

}

.auth-inner {
  width: 100%;
  max-width: 450px;
  margin: auto;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 30px 45px 30px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.navbar-brand {
  color: rgb(64, 63, 63);
  font-size: small;
}

/* Responsive adjustments */
@media (max-width: 576px) {
  /* For devices with a maximum width of 576px (e.g., smartphones) */

  .auth-inner {
    padding: 30px 20px 35px 20px;
  }
  
  .auth-wrapper {
    padding: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  /* For devices with a width between 577px and 768px (e.g., tablets in portrait mode) */

  .auth-inner {
    padding: 35px 30px 40px 30px;
  }
  
  .auth-wrapper {
    padding: 30px;
  }
}
